apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website-app
  template:
    metadata:
      labels:
        app: website-app
    spec:
      containers:
      - name: website-app
        image: hanitkour/website-app:latest
        ports:
        - containerPort: 80
